#board {
  margin-top: 10px;
  text-align: center;
}

.box {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}

body {
  text-align: center;
}

.turnCount {
  float: right;
}
